.slot{
    width: 60px;
    height: 40px;
    margin: .5em;
    background-color: #202020;
    color: #fff;
    display: grid;
    place-content: center;
    box-shadow: inset 2px 0 4px #fff;
    font-size: 1.785rem;
    padding: 1rem;
}

.busy {
    background-color: hsl(0, 72%, 59%);
}

.busy:hover {
    cursor: pointer;
}